@import "variables";
/// NAVIGATION
div.quantum-global-nav > nav > div.container {
    padding-top: 0;
    padding-bottom: 0;
}

.header-logo {
    max-width: 154px;
    max-height: 24px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;

    li.dropdown {
        position: relative;
    }

    .dropdown ul.no-bullets {
        margin: 0;
        list-style-type: none;
    }

    .navbar-nav li {
        .column {
            display: block;
        }

        .resizable,
        .quick-links {
            padding: 20px 30px;
            display: none;

            a {
                display: block;
                padding: 0;
                color: $deep-blue;
            }
        }
    }

    .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: #ffffff;
        border: 0;
        box-shadow: none;
        @include borderRadius(0);
    }
}

nav.navbar .reset-display {
    padding-bottom: 1.5em;

    h2 {
        font-size: 1.5em;
    }
}

nav.navbar .navbar-nav li > a.normal {
    padding-top: 12px !important;

    &:hover {
        background: #b0b9bf !important;
    }
}

@media(max-width:991px) {
    header#header .navbar-toggle {
        margin-top: 2px;
    }

    nav.navbar .navbar-nav li div.a a {
        color: #00b6f1 !important;
    }

    nav.navbar .dropdown li a:hover {
        color: #777;
        text-decoration: none;
    }

    nav div.equal-columns > .col-md-4.col-xs-12.column a {
        padding: 10px 0px;
    }

    nav div.equal-columns > .col-md-4.col-xs-12.column a:hover {
        color: #ffffff;
    }

    nav.navbar .navbar-nav li .reset-display a {
        padding: 10px 0;
        color: #00b6f1 !important;
    }

    nav.navbar .navbar-nav li div.dropdown-menu .quick-links,
    nav.navbar .navbar-nav li div.resizable {
        padding-left: 15px;
        padding-right: 15px;
    }

    nav.navbar .navbar-nav li div.quick-links {
        padding-top: 0;
    }

    nav.navbar .navbar-nav li .quick-links a,
    nav.navbar .navbar-nav li .resizable a {
        color: #00b6f1 !important;
    }

    nav.navbar div.equal-columns > .col-md-4.col-xs-12.smaller-menu {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    nav.navbar div.equal-columns > .col-md-4.col-xs-12.smaller-menu a {
        padding-left: 0;
        padding-right: 0;
        color: #00b6f1;
    }

    nav.navbar div.equal-columns > .col-md-4.col-xs-12 a {
        color: #777777;
    }
}

.anchor-section {
    background: $quantum-blue;

    .anchor-navigation {

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;
            justify-content: center;
            flex-grow: 1;

            li {
                margin-bottom: 0;
                border-right: solid 1px $white;

                &:last-child {
                    border-right: 0;
                }
            }
        }

        a {
            padding: 36px 40px;
            font-weight: bold;
            text-decoration: none;
            display: flex;
            color: $white;
            letter-spacing: 0.05em;
            font-family: $Arimo;
            font-weight: normal;
            font-size: 16px;
            text-transform: uppercase;
            position: relative;

            .fa-chevron-circle-down {
                display: none;
            }

            &:hover, &:focus {
                background: $electric-blue;
                color: $white;

                .fa-chevron-circle-down {
                    position: absolute;
                    display: block;
                    bottom: 20px;
                    left: calc(50% - 8px);
                }
            }
        }
    }
}
/*Footer*/
@import "sections/footer";
