$prefixes:              -webkit-, -moz-, -o-, "";

$deep-blue:             #0f73c3;
$electric-blue:         #00b6f1;
$light-blue:            #BFEDFB;
$black:                 #0A0A0A;
$text:                  #333333;
$btn-default:           $deep-blue;
$blue-primary:          $deep-blue;
$quantum-blue:          $deep-blue;
$dark-blue:             #03203b;
$lightgray:             #EDEDED ;
$whitegray:             #F5F5F5;
$darkgray:              #302E2F;
$mediumgray:            #777777;
$white:                 #ffffff;
$image-dir:             "/Content/Images/";

$text-color:            $text;
$navbar-inverse-bg:     $deep-blue;


// Fonts
$DINNext:               'DIN Next W01 Regular', sans-serif;
$DINNext-Light:         'DIN Next W01 Light', sans-serif;
$DINNext-Medium:        'DIN Next W01 Medium', sans-serif;
$DINNext-Italic:        'DIN Next W01 Italic', sans-serif;
$DINNext-Bold:          'DIN Next W01 Bold', sans-serif;
$DINNext-BoldItalic:    'DINNextW01-BoldItalic', sans-serif;
$DINNext-MediumItalic:  'DINNextW01-MediumItalic', sans-serif;
$Arimo:                 'Arimo',Arial,Helvetica,sans-serif;